.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 32px;
    background-color: rgb(238, 205, 182);
}
.card{
    width: 20rem;
    /* height: 20rem; */
}
.card-img-top{
    width: 19.9rem;
    height: 14rem;
    border-radius: 5px;
}